<div>
  <h1>Dashboard</h1>
  <hr>
  <!-- cards -->
  <div class="list-detail row">
      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Admin</h6>
                  <h2 class="text-right"><i class="fa fa-user f-left"></i><span>486</span></h2>
                  <p class="m-b-0">All users<span class="f-right">351</span></p>
              </div>
          </div>
      </div>

      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-green order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Formateur</h6>
                  <h2 class="text-right"><i class="fa fa-user f-left"></i><span>486</span></h2>
                  <p class="m-b-0">All users<span class="f-right">351</span></p>
              </div>
          </div>
      </div>

      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-yellow order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Apprenant</h6>
                  <h2 class="text-right"><i class="fa fa-user f-left"></i><span>486</span></h2>
                  <p class="m-b-0">All users<span class="f-right">351</span></p>
              </div>
          </div>
      </div>

      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-pink order-card">
              <div class="card-block">
                  <h6 class="m-b-20">CM</h6>
                  <h2 class="text-right"><i class="fa fa-user f-left"></i><span>486</span></h2>
                  <p class="m-b-0">All users<span class="f-right">351</span></p>
              </div>
          </div>
      </div>
  </div>


  <!-- list side -->

  <div class="list-users shadow mt-5">
    <div class="espace-ajout">
        <span class="float-right mr-3 mt-1 text-primary" role="button" [routerLink]="['/super_admins/add-admin']">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
            <title>Add Magasin</title>
            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
          </svg>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"

                class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <title>Add User</title>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
            </svg> -->
        </span>

    </div>
    <!-- <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Owner</th>
          <th scope="col">Adresse</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let magasin of magasins | slice: (page-1) * pageSize : page * pageSize; index as i">
          <td scope="row"> {{magasins[i].id}} </td>

          <td>  {{magasins[i].name}} </td>
          <td>  {{magasins[i].owner.prenom}} {{magasins[i].owner.nom}} </td>
          <td>  {{magasins[i].adress? magasins[i].adress:'-' }} </td>
          <td>
            <a  class="btn btn-sm btn-outline-info mr-2">Details</a>
            <a  class="btn btn-sm btn-outline-warning">Edit</a>
          </td>
        </tr>
        </tbody>
    </table> -->

    <!-- <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="collectionSize">
        </ngb-pagination>
    </div> -->


    <ngx-datatable
          class="bootstrap"
          [rows]="magasins"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [limit]="2"
        >
        <ngx-datatable-column  name="Name" [resizeable]="false" [flexGrow]="1">
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  name="Owner" [resizeable]="false" [flexGrow]="1">
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{ row.owner.prenom }} {{ row.owner.nom }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  name="Adresse" [resizeable]="false" [flexGrow]="1">
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{ row.adress ? row.adress:'-' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column  name="Action" [resizeable]="false" [flexGrow]="1">
          <ng-template let-row="row"  ngx-datatable-cell-template>
            <a  class="btn btn-sm btn-outline-info mr-2">Details</a>
            <a  class="btn btn-sm btn-outline-warning">Edit</a>
          </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
